*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sign_cont{
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-color: #fce3fe;    
}
.signin_page{
    width: 580px;
    height: 450px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}
.signin_page h1{
    margin: 20px 0;
}
.signin_fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.signin_fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #9c9c9c;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.submit_cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 500px;
}
.sign_cont button{
    width: 120px;
    height: 32px;
    margin-right: 40px;
    color: white;
    background-color: #ff4141;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.sign_cont p{
    font-size: 24px;
    font-weight: 600;
    color: #5c5c5c;
}
.sign_cont button:active{
    background-color: #d67a5e;
}
.signin_page p{
    font-size: 16px;
    color: #242222;
    font-weight: 600;
}
@media only screen and (max-width: 1200px) {
    .nav_menu {
      width: 300px;
    }
    .nav_left {
      gap: 10px;
    }
    .right_nav {
      gap: 30px;
    }
  }
  
  /* Medium Devices, Width >= 992px */
  @media only screen and (max-width: 992px) {
    .nav_menu {
      width: 250px;
    }
    .nav_left {
      gap: 5px;
    }
    .right_nav {
      gap: 20px;
    }
    .logopic {
      width: 50px;
      height: 40px;
    }
  }
  
  /* Small Devices, Width >= 768px */
  @media only screen and (max-width: 768px) {
    .nav_bar {
      flex-direction: column;
    }
    .nav_container {
      flex-direction: column;
      height: auto;
    }
    .nav_left {
      flex-direction: column;
      align-items: center;
    }
    .nav_menu {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
    }
    .nav_menu li {
      width: 100%;
      text-align: center;
    }
    .right_nav {
      flex-direction: column;
      align-items: center;
    }
    .logopic {
      width: 40px;
      height: 30px;
    }
  }
  
  /* Extra Small Devices, Width >= 576px */
  @media only screen and (max-width: 576px) {
    .nav_bar {
      font-size: 14px;
    }
    .logopic {
      width: 30px;
      height: 20px;
    }
    .nav_menu li {
      font-size: 16px;
    }
  }
  
  /* Mobile Devices, Width >= 480px */
  @media only screen and (max-width: 480px) {
    .nav_bar {
      font-size: 12px;
    }
    .logopic {
      width: 20px;
      height: 15px;
    }
    .nav_menu li {
      font-size: 14px;
    }
  }